<div class="container">
    <div class="row">
        <div class="col">
            <h2>Agregar novedades</h2>
            <form action="/admin/login" method="post">
                <div class="mb-3">
                 <input type="text" class="form-control" id="usuario"  placeholder="Titulo" name="titulo">  
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
         
        </div>

    </div>
</div>
</div>