<main class="holder">

    <div class="contacto">
        <h2>Contacto Rápido</h2>
        <form action="/contacto" method="post" class="formulario">
            <p>
                <label for="">Nombre</label>
                <input type="text" name="text">
            </p>

            <p>
                <label for="">Email</label>
                <input type="email" name="email">
            </p>

            <p>
                <label for="">Teléfono</label>
                <input type="text" name="tel">
            </p>

            <p>
                <label for="">Comentarios</label>
                <textarea name="comentarios"></textarea>
            </p>

            <p class="centrar">
                <input type="submit" value="Enviar">
            </p>

        </form>

        <p>{{message}}</p>

    </div>

    <div class="redes">
        <h2>Otras vias de contacto</h2>
        <p>También pueden contactarse con nosotros usando los siguientes medios</p>
        <ul>
            <li>Teléfono: 123456</li>
            <li>Facebook: asdfasdf</li>
            <li>Twitter: adsfasdf</li>
            <li>Instagram</li>
        </ul>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13127.461190460594!2d-58.599891808374046!3d-34.658104638359866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7a285e1f48f%3A0xf61795936e505a74!2sAv.%20Don%20Bosco%202680%2C%20Villa%20Luzuriaga%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1633664553447!5m2!1sen!2sar"
                width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>


</main>