<main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="Avion">

        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem</p>

            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente excelente</span>
                    <span class="autor">juan perez ia.pp</span>
                    
                </div>
            </div>
        </div>
    </main>
