 <main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem Lorem Lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. In enim voluptatem tempora minus quidem aliquam magni, id quaerat ratione maiores fuga doloribus dolorem fugiat ullam repellendus voluptate accusamus sed temporibus?</p>
            <p>Lorem Lorem Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, cumque iusto possimus, qui rerum nihil mollitia harum perspiciatis repellat dolor optio obcaecati cum deserunt suscipit eos sint laborum, veritatis consequatur?</p>
        </div>
        
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit consequatur dicta expedita dolorem? Nulla magnam corporis nemo quos repellat non ab, odio reprehenderit, vel officia, eum cupiditate quibusdam et autem!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Diana</h5>
                    <h6>Gerente Comercial</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum quam voluptatum accusantium nobis. Illo libero reprehenderit officiis porro iusto modi quidem, a sint amet! Nostrum, laborum consequuntur? Doloribus, consequatur!</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Roberto</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A reprehenderit, suscipit natus cupiditate quisquam hic adipisci. In, minus atque consequatur velit eum neque tenetur beatae culpa ullam esse quaerat amet?/p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Sandra Mastroloi</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, hic accusamus. Adipisci fugit earum, culpa deleniti velit ratione magnam, ea numquam commodi ipsum aliquid reprehenderit. Veritatis error ducimus doloremque voluptatum.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logistica</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod adipisci quaerat eum ab! Assumenda tempore adipisci nulla quam odit eligendi earum nisi. Ipsum eum, consequuntur voluptas iure architecto officia libero?</p>
                </div>
            </div>
        </div>
    </main>