<main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <P>---Cuerpo de la novedad--- Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum atque quae cum deserunt architecto! Dicta laudantium nemo repellat earum alias est, cumque modi placeat, nisi voluptates reiciendis recusandae, veritatis ullam?</P>
            <hr>

            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <P>---Cuerpo de la novedad--- Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum atque quae cum deserunt architecto! Dicta laudantium nemo repellat earum alias est, cumque modi placeat, nisi voluptates reiciendis recusandae, veritatis ullam?</P>
            <hr>
            
            <h3>TITULO</h3>
            <h4>SUBTITULO</h4>
            <P>---Cuerpo de la novedad--- Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum atque quae cum deserunt architecto! Dicta laudantium nemo repellat earum alias est, cumque modi placeat, nisi voluptates reiciendis recusandae, veritatis ullam?</P>
            <hr>

        </div>
    </main>