<main class="holder">
        <h2>Servicios</h2>

        <div class="servicio">
            <img src="images/servicios/aereo.jpg" alt="Avion">
            <div class="info">
                <h4>Transporte Aereo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde saepe earum tenetur
                    architecto, nobis nisi rerum illum quidem assumenda consequuntur quibusdam quo? Consequuntur ratione
                    itaque ipsa? Quasi, quidem provident.</p>
            </div>
        </div>


        <div class="servicio">
            <img src="images/servicios/ferroviario.jpg" alt="ferroviario">
            <div class="info">
                <h4>Transporte Ferroviario</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde saepe earum tenetur
                    architecto, nobis nisi rerum illum quidem assumenda consequuntur quibusdam quo? Consequuntur ratione
                    itaque ipsa? Quasi, quidem provident.</p>
            </div>
        </div>


        <div class="servicio">
            <img src="images/servicios/maritimo.jpg" alt="maritimo">
            <div class="info">
                <h4>Transporte Maritimo</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde saepe earum tenetur
                    architecto, nobis nisi rerum illum quidem assumenda consequuntur quibusdam quo? Consequuntur ratione
                    itaque ipsa? Quasi, quidem provident.</p>
            </div>
        </div>

    </main>